<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol><li>Python</li>
<li>R</li>
<li>SQL</li></ol>

Some of the commonly used libraries used by Data Scientists include:
<li>Matplotlib</li>
<li>Pandas</li>
<li>Scipy</li>

<table><th>Data Science Tools</th><tr><td>Apache Spark</td></tr><tr><td>Apache Hadoop</td></tr><tr><td>Pandas</td></tr></table>

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

<B>Objectives:</B>
List popular languages for Data Science
<ul>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
    <li>Javascript</li>
    <li>Julia</li>
</ul>

<H2>Author</H2>
Deepika Dwarakanath